@import url('https://fonts.googleapis.com/css?family=Sacramento');

body{
  margin:0px;
  padding:0px;
}
.container{
  background-color:black;
  width:100%;
  height:100%;
  width:100vw;
  height:100vh;
  margin:0px;
  display:flex;
  
}
.text-container{
  margin:0px auto;
  
}
.text::before,.text::after,.text{
  position:absolute;
  font-size:150px;
  color:white;
  font-family: 'Sacramento', cursive;
  font-weight:100;
  padding:30px;
}
.text::before{
  content:"Julia Roga";
  
    left:0;
  top:0;
  text-shadow: 
    0px 0px 20px rgba(0, 255, 255,.6),
    0px 0px 1px aqua, 
    0px 0px 1px aqua,
    0px 0px 150px aqua,
        270px 0px 400px rgba(0, 255, 255,1),
            -270px 0px 400px rgba(0, 255, 255,1),
        120px 0px 400px rgba(0, 255, 255,.3),
            -120px 0px 400px rgba(0, 255, 255,.3),
    0px 0px 450px aqua;
  animation: neon 3s infinite linear alternate-reverse;
}
.text{
  
  margin-left:-300px;
  border:solid white 3px;
    box-shadow: 0px 0px 20px rgba(0, 255, 255,.9), inset 0px 0px 20px rgba(0, 255, 255,.9);
  animation: box 6s infinite linear alternate-reverse;

}
.text::after{
  content:"Julia Roga";
  margin:0px;
  left:0;
  top:0;
  background-color: aqua;
  color: transparent;
  text-shadow: 0px 0px 5px white;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  
}

@keyframes neon{
  0%{opacity:1;}
  9%{opacity:1;}
  10%{opacity:0;}
  11%{opacity:1;}
  39%{opacity:1;}
  40%{opacity:0;}
   41%{opacity:1;}
  99%{opacity:1;}
  100%{opacity:0;}
}

@keyframes box{
  91%{box-shadow: 0px 0px 40px rgba(0, 255, 255,.7), inset 0px 0px 40px rgba(0, 255, 255,.7);}
  29%{box-shadow: 0px 0px 40px rgba(0, 255, 255,.7), inset 0px 0px 40px rgba(0, 255, 255,.7);}
  30%{box-shadow:none;}
  31%{box-shadow: 0px 0px 40px rgba(0, 255, 255,.7), inset 0px 0px 40px rgba(0, 255, 255,.7);}
  69%{box-shadow: 0px 0px 40px rgba(0, 255, 255,.7), inset 0px 0px 40px rgba(0, 255, 255,.7);}
  70%{box-shadow:none;}
   71%{box-shadow: 0px 0px 40px rgba(0, 255, 255,.7), inset 0px 0px 40px rgba(0, 255, 255,.7);}
  89%{box-shadow: 0px 0px 40px rgba(0, 255, 255,.7), inset 0px 0px 40px rgba(0, 255, 255,.7);}
  90%{box-shadow:none;}
}


